*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2fdf7;
  color: #1e1b1b;
}

/* Sidebar */
.sidebar {
  width: 60px;
  height: 100vh;
  background-color: #004d40;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}

.sidebar .home-icon {
  display: block;
  font-size: 24px;
  color: white;
  text-decoration: none;
  margin: 20px 0;
}

.sidebar .social {
  list-style: none;
  padding: 0;
  margin-top: 100px;
}

.sidebar .social li {
  margin: 20px 0;
}

.sidebar .social a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

/* Header */
.topbar {
  margin-left: 60px;
  
  height: 100px;
  line-height: 70px;
 
}



.menu {
  display: inline-block;
  
  margin: 30px 30px;
  
  width: 70%;
   
}

.menu a {
  
  text-decoration: none;
  color: #1e1b1b;
  
  margin-left:130px
  
}

.contact-info {
  float: right;
  color: #004d40;
  font-weight: bold;
}

/* Content */
.content {
  margin-left: 60px;
  padding: 20px;
  overflow: hidden;
}

.promo {
  float: left;
  width: 46%;
  height: 780px;
  position: relative;
  display: inline-block;
  background-image: url('../img/dentist.png'); 
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
  margin-left: 4%;
}



.promo-text {
  position: absolute;
  bottom: 20px;
  left: 70px;
  color: white;
  margin-bottom: 8%;
  width: 80%
}

.promo-text h2 {
  font-size: 40px;
  margin: 0;
}

.promo-text span {
  color: #2ecc71;
}

.promo-text p{
  margin-top: 5%;
  line-height: 35px;
  width: 90%;
}

.buttons {
  margin-top: 40px;
}

.btn {
  display: inline-block;
  background-color: #009688;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
}

.btn.secondary {
  background-color: transparent;
  border: 2px solid white;
  margin-left: 10px;
}

/* Appointment Form */
.appointment {
  float: right;
  width: 46%;
  background: white;
  padding: 20px;
  padding-top: 7%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display:inline-block;
  margin-right: 4%;
  height: 780px;
}

.appointment h1 {
  text-align: center;
  color: #00796b;
  padding-bottom: 7%;
}

form {
  margin-top: 20px;
  display: inline-block;
  width: 95%;
  padding-left: 5%;
}

.row {
  margin-bottom: 15px;

}

.row1 {
  display: inline-block;
  width: 100%;
}

.row1 .field{
  display: inline-block;
  margin-right: 43px;
  
}

.field label {
  display: block; 
}

.field input {
  width: 230px;

}

.row2 label {
  display: block;
}

.row2 input{
  width: 93%;
}

.row3 label{
  display: block;
}
.row3 input{
 width: 93%;
}


.row4 label{
  display: block;
  

}
.row4 input{
   
  width: 230px;
}
.row4 .field {
  display: inline-block; 
  margin-right: 15px;   
vertical-align: top;
margin-right: 43px;
}




label {
  display: inline-block;
  width: 48%;
  margin-bottom: 20px;
}

input {
  width: 48%;
  padding: 8px;
    border-radius: 15px;
     height: 40px;
  border: 1px solid #ccc;
  display: inline-block;
  background-color: rgb(233, 237, 241);
  margin-bottom: 35px;
}

.submit {
  text-align: center;
}

button.btn {
  background-color: #009688;
  color: white;
  border: none;
  padding: 10px 35px;
  border-radius: 20px;
  cursor: pointer;
  margin-top:3%;
}

button.btn i{
  color:#f2fdf7;
   vertical-align: middle; /* centra el ícono verticalmente con el texto */
  margin-left: 8px;
}

